@using CLSHelper.HtmlHelpers
@model TuDienEntities.lstData
<!-- table-responsive -->
<!--Chỉnh sửa CSS phân trang-->
<style>
    ul.paginationNavigator li.active, ul.paginationNavigator li.active:hover {
        background: #a8ce54 !important;
        border: none;
        line-height: 30px;
        color: #fff;
    }

    #DataTables_Table_0_paginate ul li {
        float: left;
        margin: 0 5px;
        background-color: #2983f5;
        border-radius: 3px;
        text-align: center;
        width: 34px;
        height: 37px;
        padding-top: 7px;
    }

        #DataTables_Table_0_paginate ul li a {
            color: #fff;
            background-color: #884ffb00;
        }

        #DataTables_Table_0_paginate ul :hover {
            color: #fff;
            background-color: #808080;
        }
    .currentpage {
        background-color: #f87171 !important
    }
    .no-padding {
        padding: 0
    }

    .table > thead > tr > th {
        background: #2983f5;
        color: #fff;
    }
</style>
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="tblTuDien">
        <thead>
            <tr>
                <th scope="col" class="text-center">STT</th>
                <th scope="col" class="text-center">Mã từ điển</th>
                <th scope="col" class="text-center">Tên từ điển</th>
                <th scope="col" class="text-center">Ngôn ngữ nguồn</th>
                <th scope="col" class="text-center">Ngôn ngữ đích</th>
                <th scope="col" class="text-center">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @foreach (var item in Model.lstDoc)
            {
                i++;
            <tr>
                <td class="text-center">@i</td>
                <th>@item.MaTuDien<span class="tb_date">@item.TacGia</span></th>
                <td>@item.TenTuDien</td>
                <td class="text-center">@item.NgonNguNguon</td>
                <td class="text-center">@item.NgonNguDich</td>
                <td class="text-center">
                    <a class="btn btn-action" style="padding:6px 6px" title="Sửa" onclick="ShowModalAddEdit(@item.ID)">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a class="btn btn-action" style="padding:4px 4px" title="Xóa" onclick="ShowModal_XacNhan(@item.ID)">
                        <span class="fa fa-trash"></span>
                    </a>
                    <a class="btn btn-action" style="padding:4px 4px" title="Thêm từ ngữ vào từ điển" onclick="ShowModal_ThemTuNgu(@item.ID)">
                        <span class="fa fa-address-book"></span>
                    </a>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.PagingInfo.ItemsPerPage < Model.PagingInfo.TotalItems)
{
    <div class="box-footer clearfix text-right" style="margin-bottom:20px; float:right; padding-right:20px" id="DataTables_Table_0_paginate">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetListData", "TuDien", new { page = x }))
    </div>}
