@using CLSHelper.HtmlHelpers
@model NguoiDungEntities.lstData
<!-- table-responsive -->
<!--Chỉnh sửa CSS phân trang-->
<style>
    ul.paginationNavigator li.active, ul.paginationNavigator li.active:hover {
        background: #a8ce54 !important;
        border: none;
        line-height: 30px;
        color: #fff;
    }

    #DataTables_Table_0_paginate ul li {
        float: left;
        margin: 0 5px;
        background-color: #2983f5;
        border-radius: 3px;
        text-align: center;
        width: 34px;
        height: 37px;
        padding-top: 7px;
    }

        #DataTables_Table_0_paginate ul li a {
            color: #fff;
            background-color: #884ffb00;
        }

        #DataTables_Table_0_paginate ul :hover {
            color: #fff;
            background-color: #808080;
        }
    .currentpage {
        background-color: #f87171 !important
    }
    .no-padding {
        padding: 0
    }

    .table > thead > tr > th {
        background: #2983f5;
        color: #fff;
    }
</style>
<div class="table-responsive">
    <table class="table table-hover table-bordered" id="tblNguoiDung">
        <thead>
            <tr>
                <th class="colHiden" scope="col" style="text-align:center">STT</th>
                <th scope="col" >Tên đăng nhập</th>
                <th class="colHiden" scope="col">Email</th>
                <th class="colHiden" scope="col" style="text-align:center">Số điện thoại</th>
                <th class="colHiden" scope="col">Địa chỉ</th>
                <th scope="col" style="text-align:center">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0; }
            @foreach (var item in Model.lstDoc)
            {
                i++;
            <tr>
                <td class="colHiden"  style="text-align:center">@i</td>
                <th>@item.TenDangNhap<span class="tb_date">@item.HoTen</span></th>
                <td class="colHiden">@item.Email</td>
                <td class="colHiden" style="text-align:center">@item.SoDienThoai</td>
                <td class="colHiden">@item.DiaChi</td>
                <td style="text-align:center">
                    <a class="btn btn-action" style="padding:6px 6px" title="Sửa" onclick="ShowModalAddEdit(@item.ID)">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a class="btn btn-action" style="padding:4px 4px" title="Xóa" onclick="Link_DeleteTT_onclick(@item.ID)">
                        <span class="fa fa-trash"></span>
                    </a>
                    
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.PagingInfo.ItemsPerPage < Model.PagingInfo.TotalItems)
{
    <div class="box-footer clearfix text-right" style="margin-bottom:20px; float:right; padding-right:20px" id="DataTables_Table_0_paginate">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetListData", "NguoiDung", new { page = x }))
    </div>}
