@model TuNguEntities.lstData

<div class="custom-tab customize-tab tabs_creative">
    <ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist" style="display: block; position: absolute; top: 20px; left: 37px; z-index: 9999;">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
            <i class="fab fa-codiepie" title="Trong hệ thống"></i> <span style="float:right; margin-left:3px">Trong hệ thống</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                <i class="fab fa-edge" title="Website Online"></i> <span style="float:right; margin-left:3px">Website Online</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div id="lstDetail">
                @if (Model.lstDoc.Count > 0)
                {
                    foreach (var item in Model.lstDoc)
                    {
                        <div class="item-list-tungu">
                            <!-- ============================ Page Title Start================================== -->
                            <div class="ed_detail_head">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-4 col-md-5">
                                            <audio id="audio_@item.ID">
                                                <source id="src_@item.ID" src="@item.PathVoice" type="audio/mpeg">
                                            </audio>
                                            <div class="property_video">
                                                <div class="thumb">
                                                    @*<audio src="~/Content/sound/hello its me.mp3" controls id="audio_@item.ID"  type="audio/ogg"></audio>*@
                                                    <img style="object-fit: fill!important" class="pro_img img-fluid w100" src="~/Content/img/radio.png" alt="radio.png">
                                                    <div class="overlay_icon" onclick="SpeakWord(@item.ID)">
                                                        <div class="bb-video-box">
                                                            <div class="bb-video-box-inner">
                                                                <div class="bb-video-box-innerup">
                                                                    <a href="lstDetail" data-toggle="modal" data-target="#popup-video" class="theme-cl">
                                                                    <i id="iconplay_@item.ID" class="ti-control-play"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-8 col-md-7">
                                            <div class="ed_detail_wrap">
                                                <ul class="cources_facts_list">
                                                    <li class="facts-1">@item.TenTuDien</li>
                                                    <li class="facts-5">@item.TenNgonNgu</li>
                                                </ul>
                                                <div class="ed_header_caption">
                                                    <h2 class="ed_title" id="txtNoiDungTu_@item.ID">@item.NoiDungTu</h2>
                                                    <ul>
                                                        <li hidden><i class="ti-calendar"></i>@item.NgayTao.Value.ToString("dd/MM/yyyy")</li>
                                                        <li hidden><i class="ti-control-forward"></i>@item.TenNguoiTao</li>
                                                        <li><i class="ti-user"></i>502 lượt xem</li>
                                                    </ul>
                                                </div>
                                                <div class="ed_header_short">
                                                    <p>@Html.Raw(item.NghiaCuaTu)</p>
                                                </div>

                                                <div class="ed_rate_info">
                                                    <div class="star_info">
                                                        <i class="fas fa-star filled"></i>
                                                        <i class="fas fa-star filled"></i>
                                                        <i class="fas fa-star filled"></i>
                                                        <i class="fas fa-star filled"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                    <div class="review_counter">
                                                        <strong class="high">4.7</strong> 3572 Đánh giá
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================ Page Title End ================================== -->
                            <!-- ============================ Nội dung tra cứu ================================== -->
                            <section class="bg-light">
                                <div class="container">
                                    <div class="row">

                                        <div class="col-lg-8 col-md-8">
                                            <!-- Overview -->
                                            <div class="edu_wraper">
                                                <h4 class="edu_title">Ví dụ minh họa</h4>
                                                <span>@Html.Raw(item.ViDu)</span>
                                            </div>

                                            <div class="edu_wraper">
                                                <h4 class="edu_title">Chi tiết</h4>
                                                <div id="accordionExample_@item.ID" class="accordion shadow circullum">

                                                    <!-- Từ đồng nghĩa -->
                                                    <div class="card">
                                                        <div id="headingOne_@item.ID" class="card-header bg-white shadow-sm border-0">
                                                            <h6 class="mb-0 accordion_title">
                                                                <a href="#" data-toggle="collapse" data-target="#collapseOne_@item.ID"
                                                                   aria-expanded="true" aria-controls="collapseOne_@item.ID"
                                                                   class="d-block position-relative text-dark collapsible-link py-2">- Từ điển từ đồng nghĩa: Các từ đồng nghĩa và ví dụ</a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapseOne_@item.ID" aria-labelledby="headingOne_@item.ID" data-parent="#accordionExample_@item.ID" class="collapse show">
                                                            <div class="card-body pl-3 pr-3">
                                                                <h4 class="edu_title">Từ đồng nghĩa</h4>
                                                                <span>@Html.Raw(item.TuDongNghia)</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Từ trái nghĩa -->
                                                    <div class="card">
                                                        <div id="headingTwo_@item.ID" class="card-header bg-white shadow-sm border-0">
                                                            <h6 class="mb-0 accordion_title">
                                                                <a href="#" data-toggle="collapse" data-target="#collapseTwo_@item.ID"
                                                                   aria-expanded="false" aria-controls="collapseTwo_@item.ID"
                                                                   class="d-block position-relative collapsed text-dark collapsible-link py-2">- Từ điển từ trái nghĩa: Các từ trái nghĩa và ví dụ</a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapseTwo_@item.ID" aria-labelledby="headingTwo_@item.ID" data-parent="#accordionExample_@item.ID" class="collapse">
                                                            <div class="card-body pl-3 pr-3">
                                                                <h4 class="edu_title">Từ trái nghĩa</h4>
                                                                <span>@Html.Raw(item.TuTraiNghia)</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Các thành ngữ -->
                                                    <div class="card">
                                                        <div id="headingThree_@item.ID" class="card-header bg-white shadow-sm border-0">
                                                            <h6 class="mb-0 accordion_title">
                                                                <a href="#" data-toggle="collapse" data-target="#collapseThree_@item.ID"
                                                                   aria-expanded="false" aria-controls="collapseThree_@item.ID"
                                                                   class="d-block position-relative collapsed text-dark collapsible-link py-2">- Các thành ngữ</a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapseThree_@item.ID" aria-labelledby="headingThree_@item.ID" data-parent="#accordionExample_@item.ID" class="collapse">
                                                            <div class="card-body pl-3 pr-3">
                                                                <h4 class="edu_title">Thành ngữ</h4>
                                                                <span>@Html.Raw(item.ThanhNgu)</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Cụm động từ -->
                                                    <div class="card">
                                                        <div id="headingFour_@item.ID" class="card-header bg-white shadow-sm border-0">
                                                            <h6 class="mb-0 accordion_title">
                                                                <a href="#" data-toggle="collapse" data-target="#collapseFour_@item.ID"
                                                                   aria-expanded="false" aria-controls="collapseFour_@item.ID"
                                                                   class="d-block position-relative collapsed text-dark collapsible-link py-2">- Cụm động từ</a>
                                                            </h6>
                                                        </div>
                                                        <div id="collapseFour_@item.ID" aria-labelledby="headingFour_@item.ID" data-parent="#accordionExample_@item.ID" class="collapse">
                                                            <div class="card-body pl-3 pr-3">
                                                                <h4 class="edu_title">Cụm động từ</h4>
                                                                <span>@Html.Raw(item.CumDongTu)</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <!-- Reviews -->
                                            <div class="rating-overview">
                                                <div class="rating-overview-box">
                                                    <span class="rating-overview-box-total">4.2</span>
                                                    <span class="rating-overview-box-percent">/ 5.0</span>
                                                    <div class="star-rating" data-rating="5">
                                                        <i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i>
                                                    </div>
                                                </div>

                                                <div class="rating-bars">
                                                    <div class="rating-bars-item">
                                                        <span class="rating-bars-name">5 <i class="ti-star"></i></span>
                                                        <span class="rating-bars-inner">
                                                            <span class="rating-bars-rating high" data-rating="4.7">
                                                                <span class="rating-bars-rating-inner" style="width: 85%;"></span>
                                                            </span>
                                                            <strong>85%</strong>
                                                        </span>
                                                    </div>
                                                    <div class="rating-bars-item">
                                                        <span class="rating-bars-name">4  <i class="ti-star"></i></span>
                                                        <span class="rating-bars-inner">
                                                            <span class="rating-bars-rating good" data-rating="3.9">
                                                                <span class="rating-bars-rating-inner" style="width: 75%;"></span>
                                                            </span>
                                                            <strong>75%</strong>
                                                        </span>
                                                    </div>
                                                    <div class="rating-bars-item">
                                                        <span class="rating-bars-name">3  <i class="ti-star"></i></span>
                                                        <span class="rating-bars-inner">
                                                            <span class="rating-bars-rating mid" data-rating="3.2">
                                                                <span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
                                                            </span>
                                                            <strong>53%</strong>
                                                        </span>
                                                    </div>
                                                    <div class="rating-bars-item">
                                                        <span class="rating-bars-name">1  <i class="ti-star"></i></span>
                                                        <span class="rating-bars-inner">
                                                            <span class="rating-bars-rating poor" data-rating="2.0">
                                                                <span class="rating-bars-rating-inner" style="width:20%;"></span>
                                                            </span>
                                                            <strong>20%</strong>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4">

                                            <div class="ed_view_box style_2">
                                                <div class="ed_author">
                                                    <div class="ed_author_thumb">
                                                        <img class="img-fluid" src="~/Content/img/1591728.png" alt="1591728.png">
                                                    </div>
                                                    <div class="ed_author_box">
                                                        <h4>Từ liên quan</h4>
                                                        <span>Các từ ngữ liên quan có trong hệ thống từ điển</span>
                                                    </div>
                                                </div>
                                                <div class="ed_view_features pl-4">
                                                    <span>@Html.Raw(item.TuLienQuan)</span>
                                                </div>
                                            </div>

                                            <!-- Submit Reviews -->
                                            <div class="edu_wraper">
                                                <div class="ed_author" style="padding-left: 0px; padding-top: 0px;">
                                                    <div class="ed_author_thumb">
                                                        <img class="img-fluid" src="~/Content/img/searchicon.jpg" alt="searchicon.png">
                                                    </div>
                                                    <div class="ed_author_box">
                                                        <h4>Tra cứu</h4>
                                                        <span>Tìm kiếm các kết quả với những ngôn ngữ khác</span>
                                                    </div>
                                                </div>
                                                <div class="review-form-box">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Ngôn ngữ</label>
                                                                <select class="form-control" id="cbNgonNgu">
                                                                    @foreach (var itemLang in ViewBag.lstNgonNgu)
                                                                    {
                                                                        <option value="@itemLang.ID">@itemLang.TenNgonNgu</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label>Kết quả</label>
                                                                <span class="form-control ht-140" id="lbKetQua"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-theme">Tra cứu</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- ============================ End Nội dung tra cứu ================================== -->

                        </div>
                    }
                }
                else
                {
                    <div class="item-list-tungu">
                        <!-- ============================ Page Title Start================================== -->
                        <div class="ed_detail_head">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-5">

                                        <div class="property_video">
                                            <div class="thumb">
                                                <img class="pro_img img-fluid w100" src="~/Content/img/noresult.jpg" alt="noresult.jpg">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-8 col-md-7">
                                        <div class="ed_detail_wrap">
                                            <h3>Không có kết quả phù hợp</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================ Page Title End ================================== -->
                    </div>
                }
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="col-md-12">
                @*@Html.Raw(Model.data)*@

                <script async src="https://cse.google.com/cse.js?cx=b60a96b351223441f"></script>
                @*<div class="gcse-search"></div>*@
            </div>
            <div id="lstDetailWeb" style="min-height: 200px; width: 70%; margin: 10px auto;">
                <h5 style="float:right; margin-right:20px">Tìm thấy <span class="price_ver">@Model.lstResponse.Count()</span> kết quả phù hợp</h5>
                @foreach (var item in Model.lstResponse)
                {
                    <!-- Cource Grid 1 -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="education_block_list_layout">

                            <div class="education_block_thumb n-shadow">
                                <a href="course-detail.html"><img src="~/Content/img/co-2.jpg" class="img-fluid" alt=""></a>
                            </div>

                            <div class="list_layout_ecucation_caption">

                                <div class="education_block_body">
                                    <h4 class="bl-title"><a href="@item.Link" target="_blank" style="color:#0cba6e">@item.Title</a></h4>
                                    <div class="course_rate_system">
                                        <div class="course_reviews_info">
                                            <a style="color:#0094ff" href="@item.Link" target="_blank">@item.Link</a>
                                        </div>
                                    </div>
                                    <div class="cources_price">
                                        @item.Snippet
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

